node_modules
.DS_Store
dist
dist-ssr
*.local
.env
package-lock.json
.next

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
/prisma/dev.db
/prisma/dev.db-journal